/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

.vercel

/storage/app/public/handsmen-7c4bd-firebase-adminsdk-fbsvc-03ddc3fb62.json